@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.primary-green {
  background-color: #219a33;
}

.primary-red {
  color: #ec1f25;
}

.primary-text-green {
  color: #219a33;
}

.bg-green {
  background-color: #219a33;
}



